/* General rules */

* {
  margin:0;
  padding:0;
}

img {
  border: 0;
}

/* Header CSS */

div#header {
  margin:0;
}

div#logo {
  border-style:none;
  padding-bottom:10px;
}

img#logo {
  display:block;
  margin-left:auto;
  margin-right:auto;
  border-style:none;
  width:80%;
}

#menu {
  border:none;
  margin:0 auto;
  padding:0px;
  font-size:24px;
  font-weight:normal;
  color:#ffffff;
  width:80%;
}

#menu ul {
  height:33px;
  background-image:url(/images/menu_item.png);
  list-style:none;
  margin:0;
  padding:0;
}

#menu li {
  background-image:url(/images/menu_item.png);
  /*background-color:black;*/
  float:left;
  padding:0px 10px;
}

#menu li a {
  color:#ffffff;
  display:block;
  font-weight:bold;
  font-size:24px;
  line-height:33px;
  padding:0px 10px;
  text-align:center;
  text-decoration:none;
}

#menu li a:hover {
  color:#08719A;
  text-decoration:none;
}

/* Main block CSS */
#main {
  padding:0;
  margin:0 auto;
  width:80%;
}

#leftColumn {
  float:left;
  width:70%;
  padding-left:5px;
}

#leftColumn p {
  text-indent:20px;
}

#sidebar {
  width:25%;
  float:right;
}

.sidebar_header {
  margin:0 auto;
  width:236px;
  line-height:44px;
  height:44px;
  background-image:url(/images/sidebar_header.png);
  vertical-align:middle;
  text-align:center;
  font-size:24px;
  color:#ffffff;
}

.sidebar_body {
  margin:0 auto;
  width:236px;
  height:165px;
  background-image:url(/images/sidebar_block.png);
}

.sidebar_body p {
  font-size:12px;
  color:#012345;
  text-indent:10px;
  padding:5px;
}

/* Footer CSS */
hr#footer_separator {
  width:100%;
  margin-top:10px;
  margin-bottom:10px;
}

#footer {
  margin-top:10px;
  margin:0 auto;
  width:78%;
  padding-bottom:30px;
}

#footer_span {
  float:right;
  display:inline;
}

/* Titles CSS */
.leftColumnTitle {
  margin:0;
  padding-bottom:5px;
  font-size:24px;
  color:#268C99;
}

/* Kiosk details CSS */
.item_name {
  font-weight:bold;
}

.item_description {
  font-weight:bold;
}

/* Other rules */
a#developer:link, a#developer:visited {
  text-decoration:none;
}

a#developer:hover {
  text-decoration:none;
  color:black;
}

.spacer {
  padding:15px 0;
}

.thumbBox {
  width:80%;
  padding-top:10px;
  padding-left:5px;
}

.thumbnail {
  width:150px;
  padding:5px 8px;
}
