<% content_for :mainColumn do %>
  <h1 class="leftColumnTitle">Контакты</h1>
  У Вас есть вопросы, предложения или пожелания? <br /><br />
  Позвоните нам: <b>+37379080899</b> или отправьте нам электронное письмо на адрес <a href="mailto:info@pavilion.md">info@pavilion.md</a> . Мы всегда рады Вам!<br /><br />
  <b>Директор:</b> Аурелов Аурелий Аурелиевич

<% end %>
